*{
	padding: 0px;
	margin: 0px;

}
body{font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Open Sans', sans-serif;

}
a{
	text-decoration: none;

}
a:hover{
	text-decoration: none;

}
img{
	max-width: 100%;
height: auto;
}
.container{
	width: 1140px;
	margin: 0px auto;
}

.header{
	width: 100%;
	background: #eee;
	padding: 2px 0px ;
	position: fixed;
}
.inner-header{
	display: flex;
	justify-content: space-between;

}
.logo img{
	width: 120px;
}
.navbar ul{
	display:flex ;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
}
.navbar ul li{
	display: block;
	margin: 35px 15px 0px;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	color: #1e266d;
	transition: 1s;
}

.navbar ul li a:hover{
	color: #00AEEF;
}

.manu-btn .btn-primary{
	display:inline-block;
	padding: 5px 20px;
	margin: 30px 0px;
	background: #1e266d;
	color: #fff;
	border: 1px solid #1e266d;
	font-size: 16px;
	font-weight: 500;
	transition: 1s;
}
.manu-btn .btn-primary:hover{
background: #00AEEF;
	color: #fff;
	border: 1px solid #00AEEF;
}
.manu-btn .btn-primary:focus{
	background: #00AEEF;
	color: #fff;
	border: 1px solid #00AEEF;
}
.banner{
	width: 100%;
	padding: 80px 0px;
}
.inner-banner{
	display: flex; 
	align-items: center;
	
}
.banner-img{
justify-content: space-btween;	
}
.content{
flex-basis: 50%;
}
.banner-img{
flex-basis: 50%;	
}


 h1{
	font-size: 52px;
	line-height: 1.2em;
	font-weight: 700;
	color: #1e266d;
	margin: 0px 0px 15px;
}
h2{
color: #171f3c;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
}
.content h4{
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 300;
	color: #1e266d;
	margin: 0px 0px 15px;
}
.content .btn-primary{
	display:inline-block;
	padding: 15px 30px;
	margin: 10px 0px;
	border-radius: 8px;
	background: #1e266d;
	color: #fff;
	border: 1px solid #1e266d;
	font-size: 16px;
	font-weight: 500;
	transition: 1s;
}
.content .btn-primary:hover{
background: #00AEEF;
	color: #fff;
	border: 1px solid #00AEEF;
}
.content .btn-primary:hover{
	background: #00AEEF;
	color: #fff;
	border: 1px solid #00AEEF;
}

.feature{
	width: 100%;
	padding: 80px 0px;
}
.inner-feature{
	display: flex;
}
.feature-box1{
	padding: 40px 25px;
	margin: 0px 10px;
	border-radius: 5px;
	display: flex;
	background: #f9799a;;
}
.feature-box2{
	padding: 40px 25px;
	margin: 0px 10px;
	border-radius: 5px;
	display: flex;
	background: #61C4D8;

}
.feature-box3{
	padding: 40px 25px;
	margin: 0px 10px;
	border-radius: 5px;
	display: flex;
	background: #1E266D;
}
.icon{
flex-basis: 20%;
}
.inner-text{
flex-basis: 80%;
}
.icon .fa{
	font-size: 35px;
	color: #fff;
}
.inner-text h4{
font-size: 20px;
line-height: 1.2em;
color: #fff;
font-weight: 700;
text-transform: capitalize;
margin: 0px 0px 10px;
}
.inner-text p{
	font-size: 16px;
line-height: 1.7em;
color: #fff;
font-weight: 400;
text-transform: capitalize; 
}
.footer{
	width: 100%;
}
.top-footer{
	width: 100%;
	padding: 80px 0px 20px;
}
.inner-top-footer{
	display: flex;
	background: #2E367D;
	padding: 90px 70px;
	border-radius: 10px;
}
.inner-top-widget{
	flex-basis: 50%;
}
.inner-top-widget h4{
ont-size: 20px;
line-height: 1.2em;
color: #fff;
font-weight: 700;
text-transform: capitalize;
margin: 0px 0px 10px;
}
.inner-top-widget p{
font-size: 16px;
line-height: 1.7em;
color: #fff;
font-weight: 400;
text-transform: capitalize; 	
}

.footer-widgets{
	width: 100%;
}

.inner-footer-widgets{
	display: flex;
	padding: 70px 0px;
}
.widged{
	flex-basis: 25%;
	margin: 0px 15px;

}
.widged h5{
	ont-size: 18px;
line-height: 1.2em;
color: #1e266d;
font-weight: 700;
text-transform: capitalize;
margin: 0px 0px 10px;
}

.widged p{
font-size: 16px;
line-height: 1.7em;
color: #91a3bb;
font-weight: 400;
text-transform: capitalize; 	
}
.widged ul li{
	list-style: none;
}

.widged ul li a{
display: block;
font-size: 16px;
line-height: 1.7em;
color: #91a3bb;
font-weight: 400;
text-transform: capitalize; 
margin: 0px -px 5px;	
}
.payment-img{
	width: 100%;
	padding: 0px 0px 40px;
	text-align: center;
}
.main-footer{
	width: 100%;
	padding: 10px 0px;
}
.main-footer p{
	font-size: 16px;
	line-height: 1.7em;
	color: #91a3bb;
	text-align: center;
}
.main-footer p a{
color: #91a3bb;	
}






















